<!DOCTYPE html>
<html>
<head>
  <title>Create</title>
</head>
<body>
  <div>
    <input id="email" type="email" name="email" placeholder="email" />
  </div>
  <div>
    <input id="password" type="password" name="password" placeholder="password" />
  </div>
  <div>
    <input id="name" type="text" name="name" placeholder="name" />
  </div>
  <button id="create" type="button">회원가입</button>
</body>
<script src="/js/create.js"></script>
</html>