<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
    <h1>Welcome <%= member.name %></h1>
    <span>Email: <%= member.email %></span>

    <button id="logout" type="button">Logout</button>
</body>
<script src="/js/home.js"></script>
</html>