<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
    <input id="email" type="email" name="email" placeholder="email" />
    <input id="password" type="password" name="password" placeholder="password" />
    <button id='btn' type="button">Login</button>

    <script src="/js/login.js"></script>
</body>
</html>